.cardCatalogo {
    margin: auto;
    background-color: rgb(247, 247, 236);
}

.btnDetalhes {
    background-color: darkseagreen;
    text-decoration: none;
}

.btnDetalhes a {
    text-decoration: none;
    color: black;

}

.footerCardCatalogo {
    display:flex;
    justify-content: space-between;
}