.imgBanner {
    width: 100%;
}

.botaoBanner {
    position: absolute;
    margin-top: 37%;
    margin-left: 10%;
    border-radius: 30px;
    padding: 5px 20px 10px;
    background-color: rgb(78, 39, 9);
    color: white;
    border: none;
}

.foto {
    width: 50%;
}

.caixaCardapio button {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: none;
    background-color: rgb(252, 241, 225) !important;
}

.caixaCardapio button:hover {
    transform: scale(1.1);
    transition: ease-out 0.3s;
}

.caixaCardapio button:active {
    scale: 0.95;
}

.caixaCardapio h3 {
    color: #372502;
}

.slickimg {
    width: 104%;
}

.fotomodal {
    margin-bottom: 5%;
    margin-left: 28%;
}

.horanormal {
    margin-left: 13%;
}

@media (max-width: 768px) {

    .slick {
        margin-right: 10%;
        margin-left: 10%;
    }

    .card::after {
        display: none;
    }

    .botaoBanner {
        position: absolute;
        margin-top: 15%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-right: 40%;

    }

    .cafeperso {
        display: none;
    }

    .personalizar {
        margin-top: -15%;
    }

    .titulo {
        display: grid;
        place-items: center;
    }

    .conheca button {
        display: grid;
        place-items: center;
    }

    .fotomodal {
        margin-bottom: 5%;
        margin-left: -2%;
    }
    
    .horanormal {
        margin-left: 0%;
    }

}

@media (max-width: 300px) {

    .botaoBanner {
        display: none;
    }

    .personalizar {
        margin-top: -30%;
    }

}

@media (min-width:769px) and (max-width: 1020px) {

    .botaoBanner {
        position: absolute;
        margin-top: 14%;
        color: white;
        margin-right: 30%;
        font-size: 55px;
    }

}

.card {
    position: relative;
    height: 12.5em;
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: none !important;

}

.card::after {
    content: "Visite";
    padding-top: 0.35em;
    position: absolute;
    background: rgb(78, 39, 9);
    color: #fff;
    height: 2.5em;
    width: 100%;
    transition: ease-out 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    margin-left: -50%;
}

.card:hover::after {
    bottom: 0;
    opacity: 1;
}

.card:active {
    transform: scale(0.98);
}

.card:active::after {
    content: "eba";
    height: 3.125em;
}

.image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.conheca {
    margin-top: 5%;
}

.conheca button {
    border-radius: 30px;
    padding: 5px 20px 10px;
    background-color: rgb(78, 39, 9);
    color: white;
    border: none;
}

.conheca button:hover {
    background-color: rgb(91, 55, 27);
}

.conheca button:active {
    background-color: #342304;
    scale: 0.95;
}

.texto {
    margin-top: 4%;
}

.cafeperso {
    width: 100%;
    margin-top: 3%;
    border-radius: 20px;
}

.slick {
    margin-bottom: 2%;
}

.personalizar {
    margin-bottom: 3%;
}

.titulo {
    color: #372502;
}